<div class="startScreen">

    <img src="assets/img/aces.png" [class.turner]="turnerStarts">

    <div class="startCard" [class.scale]="scaleStarts">
        <div class="startCont">

            <div class="title">
                <div class="ring">
                    RING
                </div>
                <div class="of">
                    OF
                </div>
                <div class="fire">
                    FIRE
                </div>
            </div>

            <div class="fireRingBtn" (click)="newGame()">
                <img class="newGameImg" src="assets/img/fireRing.png">
                <div class="newGame">Start<br>game</div>
            </div>

        </div>
    </div>

</div>
