html,
body {
    margin: 0;
    height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.d-none {
    display: none !important;
}

.d-flex {
    display: flex;
}

.d-column {
    flex-direction: column;
}

@media (max-width: 719px) {
    .hideMobile {
        display: none;
    }
}

@media (min-width: 720px) {
    .hideDesktop {
        display: none !important;
    }
}

